[submodule "deps/openvpn3"]
	path = deps/openvpn3
	url = https://github.com/OpenVPN/openvpn3
[submodule "deps/xxhash"]
	path = deps/xxhash
	url = https://github.com/Cyan4973/xxHash
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl
	ignore = dirty
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "deps/lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
